<div id="about">
  <div class="about-content">
  <h1>This template is built by</h1>
    <ul class="list-inline">
      <li>
        <img src="https://kitt.lewagon.com/placeholder/users/tomquelin" class="img-circle" alt="Thomas Quélin">
        <h2>Thomas Quélin</h2>
      </li>
      <li>
        <img src="https://kitt.lewagon.com/placeholder/users/Clement-LF" class="img-circle" alt="Clément Flinois">
        <h2>Clément Flinois</h2>
      </li>
    </ul>
  </div>
</div>


